/* ----------------------------------------------POST IMAGE------------------------------- */
#uploadButton {
    display: inline-block;
    background-color: #1148ef;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #uploadButton:hover {
    background-color: #260ddf;
  }
  #fileInput{
    display: inline-block;
    background-color: #1148ef;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .pimg{
    /* padding: 10px 20px; */
    display: block;
    border: #0056b3;
    width: 35%;
    box-shadow:0 0 10px #0056b3;
    margin: 300px 40px;
    position: absolute;

  }
/* -----------------------POST IMAGE HISTORY------------------------- */
.history{
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 100px;
    height: 500px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
    width: 500px;
    border: #fff;
    display: flex;
    justify-content: center;
}
